<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Book Service</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
  <section class="section">
    <div class="container">
      <h1 class="title"><a href="{% url 'books:index' %}">Book Service</a></h1>
      <nav class="navbar">
        <div class="navbar-menu">
          <a class="navbar-item" href="{% url 'books:index' %}">Поиск</a>
          <a class="navbar-item" href="{% url 'books:favorites' %}">Избранное</a>
        </div>
      </nav>
      {% block content %}{% endblock %}
    </div>
  </section>
</body>
</html>
